$main-white: #ffffff;
$main-yellow: #ffbb42;
$p-font-family: 'Open Sans';
$main-grey: #6e6e6e;
$main-light-gray: #a9a9a9;
$blue-border: 2px solid #1ca8dd;
$white-border: 2px solid #dedfe0;
$gray-green: #394b50;
$pointer: pointer;
$traffic-transform: scale(1.1);
$white-background: #ffffff;
$blue-gray-background: #709dca;
$p-font-size: 15px;
$main-dark-grey: #7b7b7b;
$h-font-size: 30px;
$h-font-family: "Lato";
$i-font-size: 50px;
$light-gray-border: 1px solid #ccd5df;

